a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

/* background: url("./img/bg.jpeg"); 
 background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_h1W-0wC3w2R69A6vBmxKZ-RQG7Tvr9NDSzVQgwofKA&usqp=CAU&ec=48665701");
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQapZTm-g8JdTmnz1pS8FeKZf-AaerwArmciAQHrGGXVzFzHQF-RYrHL0DpRII0CKB4M-Z61gyi3RI&usqp=CAU&ec=48665701"); */
 /* background-size:cover;

background-position:center; */ 
body{
    /* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
    background-color:rgb(82, 82, 82) ;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
#home a{
    text-decoration:none;
    color:rgb(255, 255, 255);
   
}
#who a{
    text-decoration:none;  
    color:rgb(255, 255, 255); 
}
/*navbar section*/
.navbar{
    width:100%;
    background-color: rgb(85, 85, 85) !important;
    color:#ffffff !important;
    font-size:20px !important;
    /* border-color: rgb(89, 89, 89); */
    /* border-width:2px;
    border-style: groove; */
    text-align: center;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    padding: .2rem 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0,0,.3);
}
.navbar .navbarbutton{
    margin-left:20px;
}
.navbar-brand .navbrandclass{
    display:flex;
    align-items: center;
    justify-content: flex-start;
  
    
}
.navbrandclass img{
    width:30px;
    height:40px;
    margin:10px 20px;
    align-items: center;
}
.navbrandclass a{
    align-items: center;
    text-align: center;
   
}
#navbarSupportedContent a{
   border-bottom:2px solid transparent;
   margin:5px;
   /* background-color: rgb(240, 242, 241); */
   border-radius:7%;
}
#navbarSupportedContent a:hover{
    border-bottom:3px solid rgb(94, 224, 0);
}
#navbarSupportedContent button{
    border-radius:7%;
    margin:2px;
}

#navbarSupportedContent button a{
   text-decoration:none; }
#navbar{
    position: fixed;
    top:0;
    left:10px;}



#navbar a{
    text-decoration:none; 
    color:rgb(255, 255, 255); 
}
@media(max-width:1028px){
   
    .navbar{
        width: 100%;
        /* height:10%; */
    }
    .navbar-brand .navbrandclass{
        display:flex;
        align-items: center;
        justify-content: flex-start;}
    .navbrandclass img{
     width:70px;
     height:70px;
    }
    .navbrandclass a{
     margin:10px;
     font-size:60px !important;   
    }
}
/* card section */
.container-fluids{
    display: flex;
    justify-content: center;
}
.cardincard{
    margin-top:60px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    flex-wrap: wrap;
}
.card img{
    border-radius:5%;
    border: 2px solid black;
}
 .card{
   width:400px;
   height:500px;
    color:rgb(91, 91, 91);
    background-color: #e5e5e5 !important;
    border:3px solid rgb(255, 255, 255) !important;
    box-shadow:15px 20px 20px rgba(0, 0,0, .3),
                inset 4px 4px 10px white;
    border-radius:10px !important;
    overflow: hidden;
    margin:10px;
    padding:5px;
    transition: .2s;
}
.card h3{
    text-align:center;
    font-size:14px;
}
.card p{
    text-align:left;
    font-size: 10px;
}
.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.card button{
    text-align: center;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0, 0,0, .3),
                 inset -4px -4px 10px white;
    transition: .2s;
}

/* this section work card */
#cardin .cardinwork{
    width:100%;
    height:100%;
    color:rgb(91, 91, 91);
    background-color: #ffffff !important;
    /* border:3px solid rgb(66, 66, 66) !important; */
    box-shadow:15px 20px 20px rgba(0, 0,0, .3),
                inset 4px 4px 10px white;
    border-radius:10px !important;
    overflow: hidden;
    text-align: center;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.cardinwork img{
    width:40%;
    margin:auto;
    border-radius: 30%;
    border: solid rgb(0, 0, 0) 2px;
    
}
.cardinwork p{
    margin:10px 2px;
    font-size:15px;
    
}
.cardinwork div{
    margin:10px 2px;
}
@media only screen and (max-width:1028px) {
    /* card section */
#card h1{
    margin-top:100px;
}

.cardincard{
    margin-top:20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    flex-wrap: wrap;
}
.card img{
    border-radius:5%;
    border: 2px solid black;
}
 .card{
   width:100%;
   height:100%;
    color:rgb(91, 91, 91);
    background-color: #e5e5e5 !important;
    border:3px solid rgb(255, 255, 255) !important;
    box-shadow:15px 20px 20px rgba(0, 0,0, .3),
                inset 4px 4px 10px white;
    border-radius:10px !important;
    overflow: hidden;
    margin:20px 2px;
    padding:5px;
    transition: .2s;
}
.card h3{
    text-align:center;
    font-size:40px;
}
.card p{
    text-align:left;
    font-size:20px;
}
.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.card button{
    text-align: center;
    font-size:20px;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0, 0,0, .3),
                 inset -4px -4px 10px white;
    transition: .2s;
}
  
      
  }
/* this is card in work section */
  @media only screen and (max-width:1028px){
    #cardin .cardinwork{
        width:100%;
        height:100%;
        color:rgb(91, 91, 91);
        background-color: #ffffff !important;
        /* border:3px solid rgb(66, 66, 66) !important; */
        box-shadow:15px 20px 20px rgba(0, 0,0, .3),
                    inset 4px 4px 10px white;
        border-radius:10px !important;
        overflow: hidden;
        text-align: center;
        transition: .2s;
        display: flex;
        flex-direction: column;
        font-size:40px;
        justify-content: flex-start;
        align-items: center;
    }
    .cardinwork img{
        width:50%;
        margin:auto;
        border-radius: 30%;
        border: solid gray 2px;
        
    }
    .cardinwork h1{
        margin:10px 2px;
        font-size:50px;
        
    }
    .cardinwork p{
        margin:10px 2px;
        font-size:30px;
        
    }
    .cardinwork div{
        margin:10px 2px;
    }

  }
